/* Variablen für wiederverwendbare und schnellere Template-Umsetzung */
:root {
    --rosa: #F49C9C;
    --rosa2: #ECA49C;
    --grau: #888888;
    --gruen: #89D46F;
}

/* Tag-Selector */
body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
}

header {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--grau);
    letter-spacing: 0.25em;
}

h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 98px;
    line-height: 98px;
    color: var(--rosa);
    margin-top: 0;
    margin-bottom: 0;
}

/* Pseudo-Klassen */
h1::first-letter {
    color: black;
}

/* Klassen-Selector */
.subtitle {
    font-size: 19px;
    color: var(--rosa);
    font-weight: lighter;
}
.label {
    background-color: var(--grau);
    color: white;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 46px;
    opacity: 0.51;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.35em;
}

.left-space {
    margin-left: 27px;
}

.batch {
    background-color: black;
    color: white;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 37px;
    position: absolute;
    top: 440px;
    left: 0;
    z-index: -1;
}

.color-block {
    width: 100%;
    height: 72px;
    background-color: var(--rosa2);
    position: absolute;
    top: 575px;
    left: 0;
}

#lady {
    position: absolute;
    top: 282px;
    right: 0;
}

form button {
    background: var(--gruen);
    display: block;
    width: calc(100% - 27px - 27px);
    margin-left: 27px;
    margin-right: 27px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    position: absolute;
    top: 670px;
    left: 0;
    border-radius: 30px;
    cursor: pointer;

    /* Transitions für eine Animation zwischen 2 Zuständen */
    transition: all 1s ease;
}

button:hover {
    background-color: var(--rosa);
    font-size: 25px;
}
button:active {
    outline: 3px dashed var(--rosa2);
}
button:focus {
    background-color: black;    
}

