html, body {
    margin: 0;
    padding: 0;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.batch {
    position: absolute;
    top: 300px;
    left: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.25em;
    padding-left: 1em;
}


.batch::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    content:'';
    display: block;
    background: red;
    border-radius: 50%;
    width: calc(100% + 10px);
    padding-bottom: calc(100% + 10px);
    z-index: -1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border: 5px solid white;
}