:root {
    --grey: #f0f0f0;
    --gold: gold;
}

html, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: joe;
    src: url(../../07-bakery/fonts/josefin-sans-v20-latin-300.woff);
    src: url(../../07-bakery/fonts/josefin-sans-v20-latin-300.woff2);
    font-weight: normal;
}

#top-nav {
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-width: 30%;
}

.nav-bar {

}
