:root {
    --color-darkblue: #17419e;
    --color-lightblue: #bfd3f9;
    --color-black: #05041f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../../../0000-HOME/LOGIN/img/IMG_9317.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding: 30px;
    border: var(--color-darkblue) ;
}

h5 {
    color: var(--color-darkblue);
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

p#answer {
    color: var(--color-black);
    font-size: 22px;
    margin-left: 80px;
}




ul li {
    list-style: circle;
    margin: 60px;
    font-size: 24px;
}

