:root {
    --grey: #dddddd;
}



html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', "Times New Roman", Geneva, Verdana, sans-serif;
}

html * {
    box-sizing: border-box;
}



header.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 15px;

    display: flex;
    /* Elemente innerhalb des <header class="top">...</header> werden auseinander gedrückt */
    justify-content: space-between;

}

/* das ausklappbare Menü-<ul></ul> wird ausgeblendet */
#main-menu ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    margin: 0;
    list-style: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#main-menu-btn:checked + ul {
    display: flex;
}

#main-menu-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}

#main-menu::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 110;
    background: transparent url(../img/nav-icon.svg) no-repeat center center / contain;
    pointer-events: none;
}

/* Hero Image */
#hero-image {
    background: url(../img/blog-banner.png) no-repeat center top / cover;
    height: 500px;
    padding: 15px;
    position: relative;

    display: flex;

    /*  umkehren der Achse: 
        Elemente werden untereinander, 
        statt nebeneinander angeordnet 
    */
    flex-direction: column;

    /* vertikal in die Mitte platzieren */
    justify-content: center;

}

#hero-image::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


h1 {
    font-weight: 900;
    color: white;
}

#hero-image button, h1 {
    position: relative;
    z-index: 10;
}

#hero-image > .inner-wrapper {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}


#hero-image button {
    /* verwendet die Variablen für Farb-Angaben */
    background: red;
    color: white;
    border: none;
    padding: 20px 37px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

#hero-image button:hover {
    background-color: black;
}











/* Common styles */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}



/* Footer */

footer.the-only-one {
    background-color: var(--grey);
    padding: 15px;
}

#footer-nav {
    display: flex;
    justify-content: space-evenly;
}

#footer-nav ul {
    list-style-type: "\25B8";
    padding: 0;
}
#footer-nav li {
    padding-left: 5px;
}

/* kann auch mit li::before angesprochen werden */
#footer-nav li::marker {
    color: red;
    padding-right: 5px;
}

.endline {
    font-size: 12px;
    text-align: center;
}


/* maximale Breite festlegen und Element zentrieren */
.inner-wrapper {
    max-width: 1024px;

    /*  
        zentriert ein Block-Element 
        gilt für Elemente die display:block als Eigenschaft haben 
    */
    margin-left: auto;
    margin-right: auto;
}

